<h1>Welcome to your Address Book</h1>

<form>
  <p>First Name</p>
  <input type="text" name="name" autofocus required placeholder="Type your first name here">
  <br>
  <p>Last Name</p>
  <input type="text" name="last_name" placeholder="Type your last name here">
  <br>
  <p>Email</p>
  <input type="text" name="email" placeholder="Type your email here">
  <br>
  <p>Address</p>
  <input type="text" name="address" placeholder="Type your address here">
  <br>
  <input type="submit" value="Register">
</form>

<table>
  <thead>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address</th>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
  <tr>
    <td>  <%= contact.name %> </td>
    <td> <%= contact.last_name %> </td>
    <td> <%= contact.email %> </td>
    <td>  <%= contact.address %> </td>
  </tr>
    <% end %>
  </tbody>
</table>
